#picture{
    float:left;
    width:400px;
    height: 400px;
    padding-left: 5em;
}
#p1{
    float:right;
    width: 50%; 
    font-size: 20px;
    border-color: lightcoral;
    font-family: "Average";
    line-height: 1.5; 
    padding-right: 5em;
}
body{
    background-color: paleturquoise
}
#nav{
    text-align: right;
    font-family: 'Alegreya SC', serif;
}
#h1{
    text-align: center;
}
a:hover{
    color: mediumpurple;
}
