body{
    background-color: paleturquoise;
}
#title{
    font-size:70px;
    text-align: center;
   font-family: 'Alegreya SC', serif;
}
#nav{
    text-align: right;
    font-family: 'Alegreya SC', serif;
    padding-top: 1em;
}
a:hover{
    color: mediumpurple;
}
subtitile{
    text-align: center;
    font-size: 40px;
}
#p1{
    text-align: center;
}

